{% extends 'shop/basic.html' %}

{% block title %} About Shop {% endblock %}
{% block body %} 
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 1rem;">
        <div class="container">
            <h1 class="display-3">E-Shop</h1>
            <p> An e-shop is an online business that sells a variety of goods and services. E-shops are business-to-consumer oriented. They are just like a retail store but instead of having a physical location, its location is on the internet. E-shops are also referred to as an “e-store” or an “e-tailer.” The benefits of an e-shop are that customers can shop anytime they want without having to go anywhere.</p>
        </div>
    </div>
    <br />

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>History</h2>
                <p>E-shop started out in 1991 as a software company named Ink Development Corporation. In 1993 Ink Development Corporation was renamed E-shop. E-shop developed electronic commerce software that focused on the business-to-consumer marketplace. One of the most notable founders of e-shop was Pierre Omidyaris. </p>
            </div>
            <div class="col-md-4">
                <h2>How it Works</h2>
                <p>The way an E-shops works is first, the customers visit a store, they browse the stores catalog and search for the products they are looking for, they add the products to their shopping cart, they can manage their shopping cart by adding or removing products at anytime before they check-out, once they have the products they want to buy they can check-out.</p>
            </div>
            <div class="col-md-4">
                <h2>A Good E-Shop</h2>
                <p> An e-shop should be appealing and easy to manage so that cusmtomers will want to buy from it rather than going to a regular retail store. There are billions of e-shops on the internet so a good e-shop should have an attractive and appropriate sign board. A sign board can be the lines in a search system, the banners, the advertisements on other sites, the head of the homepage, etc. </p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Company 2020-2022</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}